
/* CSS */

:root{
    --main-theme-color:#444b64;
}
body {
      /* font-family:Georgia, 'Times New Roman', Times, serif; */
      font-size: 18px;
      line-height: 34px;
      /* color: #fff; */
      
}
    
* {
      box-sizing: border-box;
      margin: 0;
}

/* sticky footer styling */

/* https://css-tricks.com/snippets/css/sticky-footer/ */

html,
body {
  height: 100%;
}

.wrapper {
    min-height: calc(100vh - 116px);
  }

.wrapper:after {
    content: "";
    display: block;
  }

  .footer {
    height: 50px;
  }

/* end sticky footer styling */

.header {
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    /* background-color: #5133a4; */
    background-color: #eebbab;
    color: #fff;
    z-index: 99;
    white-space: nowrap; 
}

.footer {
    /* background:#6956af; */
    /* height: 50px; */
    background:#eebbab;
    position: relative;
    color:#ffffff;
    overflow: auto;
}

.login-form, .signup-form{
    max-width: 455px;
    background-color:#fff;
    border:1px;
    border-radius: 5px;
    padding: 1em 2em;
    text-align: center;
}

.wrapper{
    background-color: #daccdb;
    min-width:100%;
    margin:0;
    padding:20px;
}

.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    background:#eebbab;
    /* background: #5138a1; */
    /* padding: 8px; */
    font-weight: 200;
}

.post{
    background-color: #fff;
    border: 1px #daccdb solid;
    padding: 1px 0 20px 0;
    margin-bottom:1em;
    border-radius: 5px;
    -moz-box-shadow:    6px 8px 6px -6px black;
   -webkit-box-shadow: 6px 8px 6px -6px black;
    box-shadow: 6px 8px 6px -6px black;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu{
       display:block;
    }
  }
  .profile {
    background-color:#337ab7;
    color:#ffffff;
    border: 1px solid #ffffff;
    border-radius:5px;
    margin-bottom:15px;
  }

img.profile-photo {
    border-radius:100%;
    margin:0;
    left: 50%;
    top: 50%; 
    height:60px;
    width:60px
}
@media only screen and (max-width: 768px) {
    .upload-profile-photo { 
      text-align: center; 
    }
    .profile-photo {
      margin: 0 auto;
    }
}
img.profile-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100%;
    height:40px;
    width:auto
 }
 .header-link{
     padding:0;
 }

.author-info {
    border:1px solid #6a737c;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    font-style: italic;
    color: #6a737c;
    background-color: #e1ecf4
}

.commercial{
    text-align: center;
    background-color: #fff;
    border: 1px #daccdb solid;
    padding: 1px 0 20px 0;
    margin-bottom:1em;
    border-radius: 5px;
}
